:root {
  --White: #ffffff;
  --gray: #9c9da6;
  --blue-700: #0b42fb;
  --purple-700: #a600ff;
  --marina-400: #0bfbde;
  --syne-font: "Syne", sans-serif;
  --inter-font: "Inter", sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  background-color: #24293f;
  font-size: 62.5%;
  font-family: var(--inter-font);
  color: var(--White);
}

header {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 12rem;
}

nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 120rem;
  margin-top: 2rem;
  padding: 1.2rem 2.4rem 1.2rem 2.4rem;
}

nav a img {
  width: 10.4rem;
  height: 5rem;
}

nav ul li {
  margin-top: 2rem;
  list-style: none;
}

nav ul li:first-child {
  margin-right: 5.6rem;
}

nav ul li a {
  font-weight: 700;
  font-size: 1.2rem;
  line-height: 2rem;
  text-decoration: none;
  color: var(--White);
}

.burger {
  width: 4.8rem;
  height: 4.8rem;
  background-image: url("../assets/icons/Burger.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

nav ul {
  display: none;
}

/* section home */

.home-container {
  max-width: 108.8rem;
  margin: 0 3.2rem 0 3.2rem;
}

.home-container h1 {
  padding-top: 8.8rem;
  font-family: var(--syne-font);
  font-weight: 800;
  font-size: 4rem;
  line-height: 5.76rem;
}

.home-container p {
  margin-top: 2.4rem;
  font-size: 1.8rem;
  line-height: 3.2rem;
  color: var(--gray);
}

button {
  width: 17.7rem;
  height: 5.6rem;
  margin-top: 4rem;
  border-radius: 0.8rem;
  border: none;
  font-family: var(--inter-font);
  font-weight: 500;
  font-size: 1.6rem;
  letter-spacing: 0.448rem;
  color: var(--White);
  background-image: linear-gradient(30deg, #0400ff, #4ce3f7);
}

button:hover {
  background-position: right center;
  background-size: 200% auto;
  -webkit-animation: pulse 2s infinite;
  animation: pulse512 1.5s infinite;
}

@keyframes pulse512 {
  0% {
    box-shadow: 0 0 0 0 #05bada66;
  }

  70% {
    box-shadow: 0 0 0 10px rgb(218 103 68 / 0%);
  }

  100% {
    box-shadow: 0 0 0 0 rgb(218 103 68 / 0%);
  }
}

.home-container img {
  display: block;
  width: 3rem;
  height: 4.8rem;
  margin: 10rem auto 10rem auto;
}

/* section about us */

.about-us-container {
  max-width: 71.8rem;
  margin: 0 3.2rem 0 3rem;
}

.about-us-container h2 {
  font-weight: 800;
  font-size: 1.4rem;
  line-height: 2rem;
  color: var(--blue-700);
}

.about-us-container .based {
  margin-top: 1.6rem;
  font-weight: 700;
  font-size: 3.4rem;
  line-height: 4.76rem;
  color: var(--gray);
}
.about-us-container .based span {
  color: var(--White);
}

.about-us-container .human {
  margin-top: 1.6rem 0 4rem 0;
  font-size: 1.8rem;
  line-height: 3.2rem;
  color: var(--gray);
}

.about-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border-top: 0.1rem solid rgba(255, 255, 255, 0.1);
  margin-top: 4rem;
  padding-top: 4rem;
}

.about-box-item {
  width: 14rem;
  height: 14.5rem;
}

.about-box-item h3 {
  font-weight: 800;
  font-size: 4.8rem;
  line-height: 5.28rem;
  color: var(--blue-700);
}

.about-box-item p {
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 3.36rem;
}

/* section services */

.services-container {
  max-width: 108.8rem;
  margin: 0 1.6rem 0 1.6rem;
}

.services-container .services-h2 {
  text-align: center;
  margin-top: 7.2rem;
  margin-bottom: 16px;
  font-weight: 800;
  font-size: 1.4rem;
  line-height: 2rem;
  color: var(--blue-700);
}

.services-container .services-p {
  text-align: center;
  margin-bottom: 72px;
  font-weight: 700;
  font-size: 4rem;
  line-height: 3.675rem;
}

.services-container .services-p span {
  color: var(--purple-700);
}

/* services grid */

.services-grid {
  display: grid;
  grid-template-rows: 3;
}

.services-grid h2 {
  margin-bottom: 1.6rem;
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 2.8rem;
}

.services-grid p {
  font-size: 1.6rem;
  line-height: 3.2rem;
}

/* box img */

.services-grid .box-img {
  grid-row: 1 / 2;
}

.services-grid .box-img img {
  width: 100%;
  object-fit: cover;
  object-position: center;
}

/* box web */

.services-grid .box-web {
  grid-row: 2 / 3;
  padding: 5.1rem 3.4rem;
  background: radial-gradient(
    102.27% 102.27% at 0% 0%,
    #0b42fb 0%,
    #7c33fb 100%
  );
}

.services-grid .box-web .ico-one {
  display: inline-block;
  width: 5.4rem;
  height: 5.4rem;
  margin: 0 auto 25px auto;
  background-image: url(../assets/icons/ico-service-1.svg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

/* box ux-ui */

.services-grid .box-ux-ui {
  grid-row: 3 / 4;
  padding: 5.1rem 3.4rem;
  background-color: #121420;
}

.services-grid .box-ux-ui hr {
  margin: 4.8rem 0rem 4.8rem 0rem;
}

.services-grid .box-ux-ui .ico-two {
  display: inline-block;
  width: 5.8rem;
  height: 6.4rem;
  margin: 0 auto 2.5rem auto;
  background-image: url(../assets/icons/ico-service-2.svg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.services-grid .box-ux-ui .ico-three {
  display: inline-block;
  width: 5.8rem;
  height: 6.4rem;
  margin: 0 auto 2.5rem auto;
  background-image: url(../assets/icons/ico-service-3.svg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

/* section projects*/

.projects-container {
  max-width: 108.8rem;
}

.projects-container .projects-h2 {
  text-align: center;
  margin-top: 12.9rem;
  margin-bottom: 1.6rem;
  font-weight: 800;
  font-size: 1.4rem;
  line-height: 2rem;
  color: var(--blue-700);
}

.projects-container .projects-p {
  text-align: center;
  margin: 0 3.1rem 7.2rem 3.1rem;
  font-weight: 700;
  font-size: 4rem;
  line-height: 4.76rem;
}

.projects-container .projects-p span {
  color: var(--purple-700);
}

/* projects cards */

.card-box img {
  width: 100%;
  height: 46.8rem;
  object-fit: cover;
  object-position: center;
  margin-bottom: 2.4rem;
}

.card-body h5 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 1.6rem 0 1.6rem;
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 3.36rem;
}

.card-body h5 span {
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 2.52rem;
  color: var(--purple-700);
}

.card-body p {
  margin: 1.6rem 1.6rem 3.2rem 1.6rem;
  font-size: 1.8rem;
  line-height: 3.2rem;
}

/* section testiominal*/

.test-container {
  max-width: 108.8rem;
}
.test-container h2 {
  margin: 12rem 1.6rem 0 1.6rem;
  font-weight: 800;
  font-size: 1.4rem;
  line-height: 2rem;
  color: var(--blue-700);
}

.test-container .test-p {
  margin: 1.6rem 1.6rem 9rem 1.6rem;
  font-weight: 700;
  font-size: 4rem;
  line-height: 3.675rem;
}

.test-container .test-p span {
  color: var(--purple-700);
}

.test-container .test-box {
  display: flex;
  flex-direction: column;
}

.test-box img {
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.test-box .info {
  background-color: #121420;
}

.test-box .info p {
  margin: 4rem 1.6rem 2.4rem 1.6rem;
  font-weight: 400;
  font-size: 2.4rem;
  line-height: 4.4rem;
}

.info .name {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 4rem 4rem 2.4rem;
}

.info h5 {
  display: inline-block;
  font-weight: 800;
  font-size: 1.8rem;
}

h5 span {
  font-weight: 500;
  font-size: 1.4rem;
  color: var(--gray);
}

.line {
  display: inline-block;
  width: 8.8rem;
  height: 0.8rem;
  background-image: linear-gradient(to right, #a600ff, #000000, #121420);
}

/* section testiominal*/

.clients-container {
  max-width: 108.8rem;
}
.clients-container h2 {
  text-align: center;
  margin: 12rem 1.6rem 0 1.6rem;
  font-weight: 800;
  font-size: 1.4rem;
  line-height: 2rem;
  color: var(--blue-700);
}

.clients-container p {
  text-align: center;
  margin: 1.6rem 1.6rem 6.4rem 1.6rem;
  font-weight: 700;
  font-size: 4rem;
  line-height: 4.76rem;
}

.clients-container p span {
  color: var(--purple-700);
}

.clients-container .clients-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.clients-container .clients-box a {
  margin: 0 4.1rem 1.6rem 4.1rem;
  padding: 4.2rem 2.6rem 4.2rem 2.5rem;
}

@media only screen and (min-width: 900px) {
  main {
    display: grid;
    justify-content: center;
  }

  .about-us-container {
    justify-self: center;
  }

  .services-grid {
    grid-template-columns: 3;
  }

  .services-grid .box-img {
    grid-column: 2 / 4;
    grid-row: 1 / 3;
    max-width: 68.8rem;
  }

  .services-grid .box-web {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    max-width: 51rem;
  }

  .services-grid .box-ux-ui {
    grid-column: 1 / 2;
    grid-row: 2 / 4;
    max-width: 40rem;
  }

  .home-container h1 {
    padding-top: 3.8rem;
    margin-bottom: 3.8rem;
    font-size: 7rem;
    line-height: 8.4rem;
  }

  .burger {
    display: none;
  }

  nav ul {
    display: flex;
    justify-content: space-between;
  }

  .home-container button {
    display: block;
    margin: 0 auto;
    margin-top: 4rem;
  }

  .home-container img {
    margin: 2rem auto 5rem auto;
  }

  .projects-container .projects-grid {
    width: 110rem;
    display: grid;
    grid-template-columns: repeat(2, 530px);
    gap: 24px;
  }
  .card-box .img-mar {
    margin-top: 4rem;
  }

  .test-container .test-box {
    flex-direction: row;
  }

  .test-container .test-box .info {
    margin-top: 5.75rem;
    width: 74.1rem;
    height: 32.1rem;
    background-color: #121420;
  }

  .test-container .test-box img {
    width: 34.7rem;
    height: 43.6rem;
  }

  .test-container .test-box .info p {
    margin: 4rem 9.3rem 5.6rem 7.7rem;
  }

  .clients-container .clients-box {
    flex-direction: row;
  }
}
